@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#pwd-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    @include flex();
    align-items: flex-start;
    padding: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(128, 128, 128, 0.507);

    .pwd-modal {
        position: relative;
        top: 20%;
        @include flex();
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        border-radius: 24px;
        padding: 15px;
        color: var(--primary-text);
        background-color: var(--secondary-bg);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        animation: popIn 0.3s ease-out;

        h2 {
            font-size: 1.2em;
            font-weight: 400;
            align-self: self-start;
            margin: 8px 0;
        }

        .pwd-input {
            position: relative;
            width: 100%;

            input {
                width: 100%;
                padding: 12px;
                margin: 10px 0;
                border: none;
                border-radius: 6px;
                color: var(--primary-text);
                background-color: var(--primary-bg);

                &:focus {
                    outline-color: #3b82f6;
                }
            }

            .eye-btn {
                position: absolute;
                top: 22px;
                right: 11px;
                width: fit-content;
                height: fit-content;
                border: none;
                background-color: transparent;
                font-size: 1.2em;
                z-index: 10;
                color: var(--secondary-text);
                z-index: 50;
                cursor: pointer;
            }
        }

        .error {
            margin: 5px 0;
            font-size: 0.9em;
            color: #dc2626;
        }

        .pwd-actions {
            @include flex();
            gap: 20px;

            .pwd-cancel,
            .pwd-join {
                padding: 10px;
                border: none;
                border-radius: 6px;
                font-size: 0.9em;
                font-weight: 500;
                transition: 0.3s;
                cursor: pointer;
            }

            .pwd-cancel {
                background: #dc2626;
                color: #ffffff;
                // background-color: #fecaca;

                &:hover {
                    background-color: #fca5a5;
                }
            }

            .pwd-join {
                background-color: #238636;
                color: #ffffff;
                // background-color: #bbf7d0;

                &:hover {
                    background-color: #86efac;
                }
            }
        }

    }
}